.main {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-weight: bold;
    font-size: 2rem; 
    padding: 15px 0; 
    color: #fff; 
    transition: background-color 0.3s ease; 
  }
  
  .main h1 {
    line-height: 24px;
    font-size: 2rem; 
    font-weight: bold; 
    margin: 0; 
  }
  
  .main p {
    font-size: 1.3rem; 
    font-weight:100;
    margin: 5px 0; 
  }
  
  @media only screen and (max-width: 600px) {
    .main {
      font-size: 1.5rem; 
      padding: 10px 0; 
    }
  
    .main h1 {
      font-size: 1.5rem;
    }
  
    .main p {
      font-size: 1rem; 
    }
  }
  